.icon-1 {
  width: 20px;
  height: 20px;
  background: url(/assets/images/icons.png) -0px -0px no-repeat;
}
.icon-other-images-1 {
  width: 20px;
  height: 20px;
  background: url(/assets/images/icons.png) -20px -0px no-repeat;
}
