{{#partial "title"}}扶뒬못{{/partial}}
{{#partial "content"}}
  <div class="content container">
    <h2 class="page-title">Demo - <span class="fw-semi-bold">扶뒬못</span></h2>
  </div>
{{/partial}}
{{> layout}}
