{{#partial "title"}}分页表格{{/partial}}
{{#partial "content"}}
  <div class="content container">
    <h2 class="page-title">Demo - <span class="fw-semi-bold">分页表格</span></h2>
    {{inject "demo/pagination-table"}}
  </div>
{{/partial}}
{{> layout}}
